*
{
    font-family: "Times New Roman", serif;
    font-size: large;
    margin: 0;
    padding: 0;
}

body
{
    color: black;
    background: white;
}

a
{
    text-decoration: none;
    color: #3651f6;
}

a:active
{
    color: #db3549;
}

a:visited
{
    color: #3651f6;
}

a:hover
{
    color: #457e6f;
    text-decoration: underline;
}

table
{
    border-collapse: collapse;
}

th
{
    padding: 0 0.5em 0 0.5em;
}

td
{
    padding: 0 0.5em 0 0.5em;
    border: 1px solid black;
}

li
{
    list-style-type: none;
}

textarea
{
    width: 20em;
    height: 5em;
}

select
{
    width: 10em;
}

p
{
    margin-bottom: 1em;
}

p.outputDescription
{
    font-weight: bold;
}

ul.output
{
    margin: 0 0 2em 2em;
}

div.container
{
    margin: 2em 0 0 2em;
}

img#ipa
{
    width: 20em;
    margin-bottom: 2em;
}
